@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
html,
body {
  font-family: var(--font-montserrat);
}
.font-inter {
  font-family: var(--font-inter);
}

ul,
li {
  text-decoration: dotted;
}

.custom-list li::marker {
  font-size: 7px;
}
